/*main body and container content*/
body {
  font-family: Arial;
  font-size: 0.8em;
  color: #000000; 
  background-color: white; 
  overflow-x: hidden;
}

.container {
  padding-top: 50px;
  background-color: white; 
}



/*Navbar*/
.navbar {
  background-color: #000000;
  color: #ffffff;
}
.navbar-text {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 8px;
    font-weight: bold;
}



/*Main profile content*/
#profile{
  text-align: center;
  display: block;
  border-radius: 50%;
  height: 300px;
}

#profile:hover {
  transform: scale(1.1);
  transition:0.2s;
}

.profile-greeting {
  padding-top: 1em;
  font-size: 2em;
  font-style:italic;
  color: #ffffff; 
  font-family:monospace;
  font-weight: bold; 
}

#Profile-name {
  font-size: 4em;
  color: #ffffff; 
  font-weight: bold; 
}

.profile-field {
  font-size: 2em;
  font-style:italic;
  color: #ffffff; 
  font-family:monospace;
}



/*Parralax background image for profile*/
#parralax-image{
  background-image: url("images/Abstartct\ background\ 2.jpg");
  height: 670px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* used for contacts model pop up*/
.modal-dialog {
  align-content: center;
  background-color: white;
  border-radius: 30px;
}




/* is used for sub headings */
#sub-title {
  font-size: 20px;
  color: green;
}


/*Used to help display grades*/
.content-section {
  margin: 1%; 
  display: none;
  overflow: auto;
  text-align: center;
}
.active {
  display: block;
}
.semester-column {
  width: 50%;
}
.content-section li {
  display: flex;
}
.content-section li span {
  flex-basis: 70%;
}
/* Prevent grades from overflowing when tabs width is shrinked */
.content-section {
  overflow: hidden; 
}

  /* when the button is collapsed the color is assigned to blue */
  .grades-button.collapsed {
    background-color: rgb(61, 50, 214);
  }



/*re-sizes grades column for smaller screen*/
@media screen and (max-width: 1190px) {
  .semester-column {
    width: 100%;
  }
}